*{
    padding: 0;
    margin: 0;
}

.top{
    margin:0px;
    padding: 0px;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/05e91faa-6f6d-4325-934e-5418dcc2567b/web/IN-en-20250630-TRIFECTA-perspective_159086b1-425f-435b-bcd5-1ed8039cdef9_large.jpg");
    background-position: center center;
    object-fit: cover;
    height:80vh;
    position: relative;
    z-index: -1;

}
.top .blackbox{
    position: absolute;
    top: 0;
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index:-2;

}

nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
nav img{
    fill: rgb(229, 9, 20);
    width: 140px;
    height: 40px;
}
.heading{
    margin: auto;
    display: grid;
    grid-template-rows: 20vh 8vh 24px 72px  ;
    height: 140px;
    width: 588px;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
}
.heading h1{
    /* margin: auto; */
    margin-bottom: 16px;
    position: absolute;
    /* width: 25vw; */
    grid-row: 1/2;
    align-items: center;
    justify-self: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.heading h2{
    /* margin: auto; */
    margin-bottom: 32px;
    position: absolute;
    /* width: 40vw; */
    grid-area: 2/3;
    align-items: center;
    justify-self: center;
}

.heading h3{
    position: absolute;
    /* width: 40vw; */
    grid-area: 3/4;
    align-items: center;
    justify-self: center;
}
.heading .h4{
    position: absolute;
    /* width: 40vw; */
    grid-area: 4/5;
    align-items: center;
    justify-self: center;
}
.heading .h4 button{
    background-color: red;
    color: white;
    height: 72px;
}
.heading .h4 input{
    background-color: black;
    opacity: 0.2;
    border: 2px solid white;
    height: 72px;

}